*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
composeApp/src/androidMain/assets/models/**.bin

*.o
*.a
*.d
.cache/
.coreml/
.test/
.venv/
.vs/
.vscode/

.vimspector.json
/CMakeSettings.json
/talk-llama.dSYM/

build/
build-*/
build_*/

# SPM
.build/
.swiftpm
*.metallib

ggml-metal-embed.metal
ggml-metal-embed.metal.tmp

/main
/stream
/command
/talk
/talk-llama
/bench
/quantize
/server
/lsp

arm_neon.h
sync.sh
libwhisper.a
libwhisper.so
compile_commands.json
examples/
examples/arm_neon.h
examples/whisper.objc/whisper.objc.xcodeproj/xcshareddata
examples/whisper.objc/whisper.objc.xcodeproj/xcuserdata/
examples/whisper.objc/whisper.objc.xcodeproj/project.xcworkspace/xcuserdata

extra/bench-gg.txt

models/*.mlmodel
models/*.mlmodelc
models/*.mlpackage
models/*-encoder-openvino.xml
models/*-encoder-openvino-cache/
bindings/java/.gradle/
bindings/java/.idea/
.idea/

benchmark_results.csv
cmake-build-debug/
.cxx/
.gradle/

.log
.exe
